In [2]:
import numpy as np
import pandas as pd

## Raw input

In [80]:
# Using readlines()
input_txt = open('/Users/michael/Documents/GitHub/AoC_2022/Day2/input.txt', 'r')
Lines = input_txt.readlines()
df = pd.DataFrame(columns=["Round","Raw","Predicted"])

count = 0
# Strips the newline character
for i,line in enumerate(Lines):
    count += 1
    df.loc[i] = ([count, line.strip(), line.strip()[0]])

In [81]:
df.head()

   Round  Raw Predicted
0      1  A Y         A
1      2  A Y         A
2      3  B X         B
3      4  A Y         A
4      5  C Y         C

In [82]:
# Assigning
df['Strategy'] = df['Raw'].str.split(pat=None, n=-1, expand=True)[1]

In [83]:
df.head()

   Round  Raw Predicted Strategy
0      1  A Y         A        Y
1      2  A Y         A        Y
2      3  B X         B        X
3      4  A Y         A        Y
4      5  C Y         C        Y

In [84]:
ref = {
    'A X':(3,3),
    'A Y':(0,6),
    'A Z':(6,0),
    'B X':(6,0),
    'B Y':(3,3),
    'B Z':(0,6),
    'C X':(0,6),
    'C Y':(6,0),
    'C Z':(3,3)
}

In [85]:
df['Results'] = df['Raw'].map(ref)
df.head()

   Round  Raw Predicted Strategy Results
0      1  A Y         A        Y  (0, 6)
1      2  A Y         A        Y  (0, 6)
2      3  B X         B        X  (6, 0)
3      4  A Y         A        Y  (0, 6)
4      5  C Y         C        Y  (6, 0)

In [86]:
df['Elf round point'] = [x[0] for x in df['Results']]
df['My round point'] = [x[1] for x in df['Results']]

In [87]:
df.head()

   Round  Raw Predicted Strategy Results  Elf round point  My round point
0      1  A Y         A        Y  (0, 6)                0               6
1      2  A Y         A        Y  (0, 6)                0               6
2      3  B X         B        X  (6, 0)                6               0
3      4  A Y         A        Y  (0, 6)                0               6
4      5  C Y         C        Y  (6, 0)                6               0

In [98]:
# rock = A = X = 1
# paper = B = Y = 2
# scissors = C = Z = 3


my_weapon_point = []
elf_weapon_point = []

for x in df['Strategy']:
    if x == 'X':
        my_weapon_point.append(1)
    elif x == 'Y':
        my_weapon_point.append(2)
    else:
        my_weapon_point.append(3)
        
for x in df['Predicted']:
    if x == 'A':
        elf_weapon_point.append(1)
    elif x == 'B':
        elf_weapon_point.append(2)
    else:
        elf_weapon_point.append(3)

In [100]:
df['Elf weapon point'] = elf_weapon_point
df['My weapon point'] = my_weapon_point

,Round,Raw,Predicted,Strategy,Results,Elf round point,My round point,Elf weapon point,My weapon point
0,1,A Y,A,Y,"(0, 6)",0,6,1,2
1,2,A Y,A,Y,"(0, 6)",0,6,1,2
2,3,B X,B,X,"(6, 0)",6,0,2,1
3,4,A Y,A,Y,"(0, 6)",0,6,1,2
4,5,C Y,C,Y,"(6, 0)",6,0,3,2

In [102]:
df['Elf points'] = df['Elf round point'] + df['Elf weapon point']
df['My points'] = df['My round point'] + df['My weapon point']

In [104]:
df['My points'].sum()

11906

In [105]:
df['Elf points'].sum()

11945

## Part 2

In [173]:
# Using readlines()
input_txt = open('/Users/michael/Documents/GitHub/AoC_2022/Day2/input.txt', 'r')
Lines = input_txt.readlines()
df2 = pd.DataFrame(columns=["Round","Raw","Predicted"])

count = 0
# Strips the newline character
for i,line in enumerate(Lines):
    count += 1
    df2.loc[i] = ([count, line.strip(), line.strip()[0]])

In [174]:
df2.head()

   Round  Raw Predicted
0      1  A Y         A
1      2  A Y         A
2      3  B X         B
3      4  A Y         A
4      5  C Y         C

In [175]:
df2['Strategy'] = df2['Raw'].str.split(pat=None, n=-1, expand=True)[1]

In [176]:
df2.head()

   Round  Raw Predicted Strategy
0      1  A Y         A        Y
1      2  A Y         A        Y
2      3  B X         B        X
3      4  A Y         A        Y
4      5  C Y         C        Y

In [177]:
ref2 = {
    'X':(6,0),
    'Y':(3,3),
    'Z':(0,6),
}

In [178]:
decision = {'Win':{'A':'Y','B':'Z','C':'X'},
           'Lose':{'A':'Z','B':'X','C':'Y'},
           'Draw':{'A':'X','B':'Y','C':'Z'}}

In [179]:
df2['Results'] = df2['Strategy'].map(ref2)
df2.head()

   Round  Raw Predicted Strategy Results
0      1  A Y         A        Y  (3, 3)
1      2  A Y         A        Y  (3, 3)
2      3  B X         B        X  (6, 0)
3      4  A Y         A        Y  (3, 3)
4      5  C Y         C        Y  (3, 3)

In [180]:
df2['Elf round point'] = [x[0] for x in df2['Results']]
df2['My round point'] = [x[1] for x in df2['Results']]

In [181]:
df2.head()

   Round  Raw Predicted Strategy Results  Elf round point  My round point
0      1  A Y         A        Y  (3, 3)                3               3
1      2  A Y         A        Y  (3, 3)                3               3
2      3  B X         B        X  (6, 0)                6               0
3      4  A Y         A        Y  (3, 3)                3               3
4      5  C Y         C        Y  (3, 3)                3               3

In [190]:
# rock = A = X = 1
# paper = B = Y = 2
# scissors = C = Z = 3


my_weapon = []

for i,x in enumerate(df2['Strategy']):
    if x == 'X':
        #lose
        my_weapon.append(decision['Lose'][df2['Predicted'][i]])
    elif x == 'Y':
        my_weapon.append(decision['Draw'][df2['Predicted'][i]])
    elif x == 'Z':
        my_weapon.append(decision['Win'][df2['Predicted'][i]])

In [191]:
df2['My weapon'] = my_weapon

In [192]:
df2.head(10)

,Round,Raw,Predicted,Strategy,Results,Elf round point,My round point,My weapon
0,1,A Y,A,Y,"(3, 3)",3,3,X
1,2,A Y,A,Y,"(3, 3)",3,3,X
2,3,B X,B,X,"(6, 0)",6,0,X
3,4,A Y,A,Y,"(3, 3)",3,3,X
4,5,C Y,C,Y,"(3, 3)",3,3,Z
5,6,B Y,B,Y,"(3, 3)",3,3,Y
6,7,B Z,B,Z,"(0, 6)",0,6,Z
7,8,B Y,B,Y,"(3, 3)",3,3,Y
8,9,A X,A,X,"(6, 0)",6,0,Z
9,10,B X,B,X,"(6, 0)",6,0,X

In [193]:
# rock = A = X = 1
# paper = B = Y = 2
# scissors = C = Z = 3


my_weapon_point2 = []
elf_weapon_point2 = []

for x in df2['My weapon']:
    if x == 'X':
        my_weapon_point2.append(1)
    elif x == 'Y':
        my_weapon_point2.append(2)
    else:
        my_weapon_point2.append(3)
        
for x in df2['Predicted']:
    if x == 'A':
        elf_weapon_point2.append(1)
    elif x == 'B':
        elf_weapon_point2.append(2)
    else:
        elf_weapon_point2.append(3)

In [194]:
df2['Elf weapon point'] = elf_weapon_point2
df2['My weapon point'] = my_weapon_point2

In [195]:
df2['Elf points'] = df2['Elf round point'] + df2['Elf weapon point']
df2['My points'] = df2['My round point'] + df2['My weapon point']

In [196]:
decision['Draw']['A']

'X'

In [197]:
df2.head(10)

,Round,Raw,Predicted,Strategy,Results,Elf round point,My round point,My weapon,Elf weapon point,My weapon point,Elf points,My points
0,1,A Y,A,Y,"(3, 3)",3,3,X,1,1,4,4
1,2,A Y,A,Y,"(3, 3)",3,3,X,1,1,4,4
2,3,B X,B,X,"(6, 0)",6,0,X,2,1,8,1
3,4,A Y,A,Y,"(3, 3)",3,3,X,1,1,4,4
4,5,C Y,C,Y,"(3, 3)",3,3,Z,3,3,6,6
5,6,B Y,B,Y,"(3, 3)",3,3,Y,2,2,5,5
6,7,B Z,B,Z,"(0, 6)",0,6,Z,2,3,2,9
7,8,B Y,B,Y,"(3, 3)",3,3,Y,2,2,5,5
8,9,A X,A,X,"(6, 0)",6,0,Z,1,3,7,3
9,10,B X,B,X,"(6, 0)",6,0,X,2,1,8,1

In [198]:
df2['My points'].sum()

11186